body {
  background-image: url("/Volumes/mvisual/public/S16-Art229-Conrad/Sara Cantler/Project-3/Images/LIVING ROOM.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.bg {
  width: 100%;
  z-index: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  min-height: 100px;
  min-width: 500px;
  max-height: 200px;
  background-attachment: fixed;

}
