h2 {
  color: #FFFFFF;
  font-family: verdana;
  backgrond-color: white;
}

h3 {
  color: #FFFFFF;
  font-family: verdana;
}

#first {
    text-align: left;
    font-family: arial black;
    color: #1f2532;
  background-color: white;
}

#second {
    text-align: left;
    font-family: arial black;
    color: #1f2532;
  background-color: white;
}

#third {
  text-align: left;
  color: #1f2532;
  font-family: arial black;
  background-color: white;
}

body {
  background-image: url("http://i.imgur.com/gfer8K7.jpg");
  background-size: 100%;
}
